$mm_color_base: rgb(25, 30, 45);
$mm_color_text: rgb(124, 126, 135);
$mm_color_brand: rgb(238, 50, 84);

$mm_color_base--light: rgb(196, 205, 233);
$mm_color_text--light: rgb(68, 73, 91);
$mm_color_brand--light: rgba(176, 105, 241, 0.79);

$mm_font: "Quicksand", sans-serif;
